body {
    margin:0;
    background-color: rgb(234, 223, 247);
    }
h1 {
    font-size:50px;
    text-align: center;
    margin:10px;
    padding-top: 10px;
    }
h2 {
    border-bottom: 1px solid gray;
    text-align: center;
    margin:0;
    padding:30px;
    padding-top:15px;
    font-size: 25px;
    }
h3 {
    margin-top: 30px;
    }
a {
    color: black;
    text-decoration: none;
    }
.active {
    text-decoration: underline;
    }
#grid ol {
    border-right: 1px solid gray;
    width:200px;
    margin:0;
    padding-left:40px;
    padding-top: 30px;
    }
 #grid ul {
        border-right: 1px solid gray;
        width:200px;
        margin: 0;
        list-style: none;
        padding-top: 30px;
        padding-left: 22px;
        }
#grid {
    display:grid;
    grid-template-columns: 280px 1fr;
    }
@media(max-width:500px){
    #grid{display: block;}
    #grid ol{border-right: none;}
    h1{font-size: 30px;}
    h2{font-size: 15px;}
    }